OTEL_EXPORTER_OTLP_INSECURE=true
API_AUTH_WELL_KNOWN_CONFIG_URL=http://localhost:18080/realms/sample/.well-known/openid-configuration
JWKS_URL=http://localhost:18080/realms/sample/protocol/openid-connect/certs
AUDIENCE=sample-client
ISSUER=http://localhost:18080/realms/sample